.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root {
  --ifm-navbar-height: 96px;
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #157ee0;
  --ifm-color-primary-darker: #166dbe;
  --ifm-color-primary-darkest: #166cbd;
  --ifm-color-primary-light: #2192fc;
  --ifm-color-primary-lighter: #3ea0fc;
  --ifm-color-primary-lightest: #5eaffc;
  --ifm-navbar-link-color: #f2f2f2;
  --ifm-navbar-link-hover-color: #81D3F8;
  --ifm-menu-color-active: #3669a6;
  --ifm-navbar-link-hover-color: #3669a6;
  --ifm-navbar-background-color: #ffffff;
  /* --  ifm-container-width: 1440px; */
  --font-color-title: #1F1F1F;
  --font-color-body: #666666;
  --font-color-caption: #999999;
  --font-color-disable: #DBDBDB;
  --font-color-link: #2964aa;
  --font-color-no: #e0e0e0;
}
a {
  color: var(--ifm-color-primary);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
  overflow: auto;
}
.footer {
  padding: 10px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  background: #f0f2f5;
  flex: 0 0 auto;
}
.videoItem {
  padding: 1rem 0;
}
.homeWrapper {
  padding: 0 1rem;
}
.indexWrapper {
  flex: 1 0;
  padding-top: 45px;
}
.am-drawer {
  top: 45px;
}
.contentWrapper, .ant-layout-header {
  padding: 0 1rem;
}
.contentWrapper {
  /* height: calc(100vh - 64px - 9 / 16 * 100vw); */
  overflow: auto;
  flex: 1 0;
}
.link {
  color: #282c34;
}
.am-navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.loading span {
  display: block;
  padding-top: 10px;
  color: var(--font-color-caption);
}
.videoWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45px;
  background: #f0f2f5;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 2;
}
.videoWrapper .wrapper {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}
rt {
  font-size: 12px;
  color: blue;
}

.videoRadius {
  border-radius: 6px;
  max-height: 200px;
}

.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 250px;
  padding: 0;
}
.am-activity-indicator {
  justify-content: center;
}

.am-button-small {
  font-size: 13px!important;
}
.am-popover .am-popover-item-container {
  height: 30px!important;
}

@media only screen and (max-width: 1367px) {
  .videoWrapper {
    flex-direction: row;
  }
  .contentWrapper {
    /* height: calc(100vh - 64px - 9 / 16 * 40vw); */
    overflow: auto;
    flex: 1 0;
  }
  .videoWrapper .wrapper {
    position: relative;
    width: 40%;
    flex: auto;
  }
  .videoWrapper .listwrapper {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
    align-items: flex-start;
    overflow: auto;
    padding: 1rem;
  }
  i.video {
    width: 23%;
  }
  .videoWrapper .listwrapper .videoItem {
    width: 23%;
    padding: 0;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
  }
  .videoWrapper .listwrapper .videoItem.activity {
    box-shadow: 0px 0px 6px 1px #108ee9;
  }

  .videoWrapper .listwrapper .videoItem img {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .contentWrapper {
    /* height: calc(100vh - 64px - 9 / 16 * 100vw); */
    overflow: auto;
    flex: 1 0;
  }
  .videoWrapper .wrapper {
    width: 100%;
    flex: auto;
  }
  .videoWrapper .listwrapper {
    display: none;
  }
}